
<div class="row mt-4 mx-4">
       <button (click)="prev()" 
               class="col-6 card card-body align-items-center button-color">

              Anterior
       </button>

       <button (click)="next()" 
               class=" col-6 card card-body align-items-center button-color">

               Següent
       </button>

    </div> 


<div class="mt-4 mx-4">


       <div *ngFor="let frase of frases" >

              <img *ngIf="frase.id == currentSentence"
                   src="{{ frase.img }} "
                   class="bg-img">

               <div             
               [ngClass]="{'selected': frase.id == currentSentence}"
               class="alert alert-secondary text-center border-circle">


                      {{ frase.texto}}

               </div>
       </div>

 </div>